<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <title>Login</title>
</head>
<body>
  <div class="login-wrapper">
  <h1>Please Log In</h1>
  
    <div class="formdiv">
      <center>
      <form action="/auth/signin" method="POST">
        <label>
          <p class="usrn">Username</p>
          <input type="text" name="username" class="textfieldnme"/>
        </label>
        <label>
          <p>Password</p>
          <input type="password" name="password" class="textfieldnme"/>
        </label>
        <div>
          <button type="submit" class="subbmitbtn" value="Submit">Submit</button>
        </div>
      </form>
      <p>
        <a href="/auth/signup">Sign up</a>
      </p>
    </center>
    </div>
</div>
</body>
</html>