<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{{ url_for('static', filename='replicas.css') }}">
    <title>Document</title>
</head>
<body>
  <ul>
    <li> <a href="/dashboard">Pods</a></li>
     <li><a href="/deployment/details">Update</a></li>
     <li><a href="#">Scale</a></li>
     <!-- <div class="dot"></div></ul> -->
  <!-- </nav>  -->
 </ul>
  <div class="counter">
    <center><h1>Current replicas : {{ replicas }}</h1></center>
  </div>
  <center><h1>Scaling Component</h1></center>
  <div class="manualscale">
      <center>
      <form action="/deployment/scale" method="POST">
<label class="txtfield">
<b>Scale factor   :</b>     
  <input type="number" name="factor" class="textfieldnme"></input>
</label>
<input type="submit" class="subbmitbtn" value="Submit"  />
</form>
</center>
<label class="switch">
    Enable Auto Scaling  ?  :
  <input type="checkbox">
  <span class="slider round"></span>
</label>
  </div>
</body>
</html>


